#auth {
    margin-top: 5rem;
}

#login-swipe,
#register-swipe {
    background-color: #e9eeec;
}

.waves-button-input {
    color: #fff !important;
}

#register-swipe,
#login-swipe {
    padding: 2rem;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: calc(50% - 105px);
}